<div class="select_wrap">
      <ul class="default_option">
          <li>
              <div class="option">
                <div class="icon"></div>
                <p>Pizzas</p>
              </div>
          </li>
      </ul>
      <ul class="select_ul">
          <li>
              <div class="option">
                <div class="icon"></div>
                <p>Pizzas</p>
              </div>
          </li>
          <li>
              <div class="option">
                <div class="icon"></div>
                <p>Burget</p>
              </div>  
          </li>
          <li>
              <div class="option">
                <div class="icon"></div>
                <p>Ice Cream</p>
              </div>  
          </li>
          <li>
            <div class="option">
                <div class="icon"></div>
                <p>Fried Potatoes</p>
              </div>
          </li>
      </ul>
  </div>