.card-layout{
    position: relative;
    height: 152px;
    width: 500px;
    padding: 24px 29px;
    background-color: #101928;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

svg {
    display: flex;
    align-items: center;
    position: absolute;
    width: 415px;
    height: 186px;
    fill: linear-gradient(232deg, rgba(243, 83, 122, 0.40) 0%, rgba(241, 54, 100, 0.40) 100%);
}

@media screen and (max-width: 760px) and (min-width: 300px) {
    .card-layout{
        width: 100%;
        margin-right: 0;
    }
    
}