<nav class="" >
    <i (click)="menuButtonClicked()" class='bx bx-menu '></i>
    <div class="flex justify-items-end items-center">
        
        <div class="h-[28px] w-[28px] relative cursor-pointer">
            <div class="bg-red-primary text-[white] rounded-[50%] absolute right-[-2px] top-[-2px] flex flex-col justify-center items-center px-[4px] "><span class="text-[10px] font-semibold">4</span></div>
            <img src="../../../../assets/icons/bell.svg" class="object-cover h-full w-full" alt="">
        </div>
        <div class="sm:hidden h-9 w-9 md:flex justify-center items-center bg-red-light rounded-[50%] ml-3 cursor-pointer"><span class="text-red-primary">{{firstname}}{{lastname}}</span></div> 
    </div>
</nav>
