<div class="flex justify-center items-center py-[100px] w-screen h-screen">
    <div class="flex flex-col items-center justify-center">
        <div>
            <img src="../../../../assets/404.svg" class=" md:w-[300px] md:h-[300px] sm:w-[200px] sm:h-[200px] m-0">
        </div>
        <div class="flex flex-col items-center justify-center">
            <div class="flex flex-col items-center">
                <h2 class="font-bold md:text-[80px] sm:text-[76px] text-red-primary m-0">404</h2>
                <!-- <h2 class="text-red-primary md:text-[32px] sm:text-[29px] font-semibold text-center m-0">Page Not Found</h2> -->
                <p class="text-dark-primary md:text-[20px] sm:text-[18px] leading-[25px] text-center w-[70%] font-medium">We can't find the page you were looking for. Either it was removed, or you mistyped the link.</p>
            </div>
            <button routerLink="/dashboard/home" class="bg-red-primary px-[16px] py-[12px] rounded-[7px] text-[white] md:text-base sm:text-[14px] mt-4 font-medium flex justify-center items-center">
                Back to Homepage
                <i class='bx bx-chevron-right ml-1 text-[1.3rem]'></i>
            </button>
        </div>
    </div>
</div>
