<div class="bg-[white] text-dark-primary relative flex items-center lg:justify-end w-full h-screen sm:justify-center ">
    <div class="absolute top-0 left-0 w-[40%] h-full bg-red-primary sm:invisible lg:visible">

    </div>
    <div class="login-main lg:w-[60%] sm:w-full flex justify-center items-center">
         <div class="login-container flex flex-col lg:w-[50%] sm:w-[90%]">
            <div class="mb-2">
                <h1 class="lg:text-[2rem] sm:text-[1.8rem] font-semibold">Password Reset</h1>
            </div>
            <div classs="">
                <p class="text-base ">A password reset link has been sent to your email address.  <a routerLink="/auth/login" class="text-red-primary font-medium" href="">Login</a></p>
            </div>
    </div>
    </div>

</div>
