

input{
    display: block;
    width: 100%;
    padding: 13px 10px;
    outline: none;
    background-color: #f8f8f8;
    font-size: .9rem;
    border-radius: 7px;
}

input.has-error{
    border: 2px solid rgb(255, 141, 141);
}

input:focus{
    border: 2px solid #F9A7BB;
}

.btn{
    font-weight: 500;
    color: white;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 13px;
    border-radius: 7px;
    
}

.error{
    color: #E00C34;
    font-size: 13px;
}