<div class="bg-[white] text-dark-primary relative flex items-center lg:justify-end w-full h-screen sm:justify-center ">
    <div class="absolute top-0 left-0 w-[40%] h-full bg-red-primary sm:invisible lg:visible">

    </div>
    <div class="login-main lg:w-[60%] sm:w-full flex justify-center items-center">
         <div class="login-container flex flex-col lg:w-[50%] sm:w-[90%]">
            <div *ngIf="error" class="bg-red-light p-4 text-red-primary rounded-[7px] flex items-center justify-start mb-3">
                <i class='bx bxs-x-circle text-red-primary mr-2 text-[18px]'></i>
                <span>{{error}}</span>
            </div>
            <div class="mb-4">
                <h1 class="lg:text-[2rem] sm:text-[1.8rem] font-semibold">Forgot Password</h1>
            </div>
    <form class="form-group flex flex-col w-full" 
        [formGroup]= "forgotPasswordForm"
        (ngSubmit)="forgotPasswordForm.valid && onSubmit()"
    >
        <div class="mb-6">
            <input class="form-control" formControlName="email" name="email" type="email" placeholder="Enter your email" required/>
        </div>
        <div>
            <button type="submit" class="btn bg-red-primary">Continue</button>
        </div>
    </form>
    <div class="mt-4">
            <p class="text-[0.9rem] ">Remember your password? <a routerLink="/auth/login" class="text-red-primary font-medium" href="">Login</a></p>
        </div>
    </div>
    </div>

</div>