<div class="section w-[100%] mt-8 ">
    <h2 class="font-semibold text-[18px] text-grey-900 ">Quick Actions</h2>
    <div class="card-container sm:w-full lg:w-[70%] mt-[16px]">
             <div (click)="renderFundWalletComponent()"  class="card deposit bg-[white] p-4 cursor-pointer flex flex-col items-center justify-between">
                <div class="icon flex justify-center items-center w-12 h-12 rounded-[50%] ">
                    <img src='../../../../assets/icons/solar_download.svg' class="icon" />
                </div>
                <p class="card-text leading-[19px] font-medium text-dark-primary">Deposit</p>
            </div>
            <div (click)="renderPaymentComponent('WITHDRAW')" class="card withdraw bg-[white] p-4 cursor-pointer flex flex-col items-center justify-center">
                <div class="icon flex justify-center items-center w-12 h-12 rounded-[50%] ">
                    <img src='../../../../assets/icons/withdraw-funds.svg' class="icon" />
                </div>
                <p class="card-text leading-[19px] font-medium text-dark-primary">Withdraw</p>
            </div>
            <div (click)="renderSendPaymentComponent()"  class="card pay bg-[white] p-4 cursor-pointer flex flex-col items-center justify-center">
                <div class="icon flex justify-center items-center w-12 h-12 rounded-[50%] ">
                    <img src='../../../../assets/icons/payment.svg' class="icon" />
                </div>
                <p class="card-text leading-[19px] font-medium text-dark-primary">Pay</p>
            </div>
            <div *ngIf="(walletData$ | async) === null" (click)="createWalletBtnClicked()"  class="card create bg-[white] p-4 cursor-pointer flex flex-col items-center justify-center">
                <div class="icon flex justify-center items-center w-12 h-12 rounded-[50%] ">
                    <img src='../../../../assets/icons/gala_add.svg' class="sm:w-[18px] lg:w-[32px]" />
                </div>
                <p class="card-text leading-[19px] font-medium text-center text-dark-primary">Create Wallet</p>
            </div>
    </div>
    <div *ngIf="!cancelButtonClicked">
        <app-withdraw-wallet (cancelButtonClicked)="onCancel($event)" [text]="Text"></app-withdraw-wallet>
    </div>
    <div *ngIf="fundWalletClicked">
         <app-fund-wallet (cancelDepositClicked)="onCancelDepositClicked($event)"></app-fund-wallet>
    </div>
    <div *ngIf="sendPaymentClicked">
        <app-send-payment (cancelButtonClicked)=" onCloseSendPaymentComponent($event)"></app-send-payment>
    </div>
    <div *ngIf="showDialogue">
        <app-dialogue-box (cancelButtonClicked)=" onCloseDialogue($event)"></app-dialogue-box>
    </div>
</div>