<div class=" backdrop-brightness-50 flex justify-center items-center fixed top-0 left-0 w-screen h-screen z-[100000]">
    <div class="contain flex flex-col justify-center items-center bg-[#F9FAFB] text-grey-900 sm:w-[90vw] sm:h-auto  md:w-[580px] md:h-[600px] rounded-[30px] z-[10000] overflow-hidden">
        <div *ngIf="step === 1" class="w-full flex justify-center items-center ">
            <img (click)="onCancelButtonClicked()" src="../../../../assets/icons/close.svg" class="w-[24px] h-[24px] absolute top-8 right-6 cursor-pointer ">
            <div class="flex flex-col justify-center items-center px-4 py-7 h-full sm:w-[95%] md:w-[70%] ">
                 <div class="flex items-center justify-center mt-[24px] mb-[24px] bg-[#FAF2F3] stroke-[#F4C0DB] rounded-[50%] h-[80px] w-[80px] ">
                    <img src="../../../../assets/icons/money_bag.svg" class="w-[40px] h-[40px] ">
                </div>
                <div class="mb-[24px] flex flex-col justify-center items-center ">
                    <h3 class="font-semibold sm:text-[18px] md:text-[28px] text-center  ">Withdraw funds</h3>
                    <p class=" sm:text-[12px] md:text-[14px] text-[#475367] text-center ">Wash your hands. It's time to eat!</p>
                </div>
                <form class="w-full flex flex-col justify-center items-center " [formGroup]= "paymentForm" (ngSubmit)="paymentForm.valid && confirmPaymentDetails()">
                    <div class="form-div flex mb-4 flex-col">
                        <label>Enter Amount</label>
                        <input type="text" formControlName="amount" name="amount" onkeypress="return /[0-9]/i.test(event.key)" placeholder="0.00" />
                    </div>               
                    <div class="form-div flex flex-col mb-4 relative">
                        <i class="bx bxs-down-arrow absolute text-[#5F5F5F] top-[58px] right-5 text-[0.6rem]"></i>
                        <label>Select Bank Name</label>
                        <select formControlName="bankName" name="bankName" class="mt-2 w-full p-[16px] rounded-[6px]">
                                <option *ngFor="let bank of banks" selected>{{bank.BankName}}</option>
                        </select>
                    </div>
                    <div class="form-div flex flex-col">
                        <label>Account Number</label>
                        <input formControlName="accountNumber" name="accountNumber" (input)="onAccountInputChange()" type="text" onkeypress="return /[0-9]/i.test(event.key)" placeholder="Enter your account number" />
                    </div>
                    <div class="form-div flex my-4 flex-col">
                        <span class="flex items-center justify-start">
                            <span *ngIf="loading" class="loader"></span>
                            <span *ngIf="!loading && accountName.length !== 0" class="bg-red-light w-full p-3 rounded-[7px] flex items-center">
                                <i class='bx bxs-check-circle text-[#31a84b] text-[20px]'></i>
                                <p class="md:text-[16px] sm:text-[13px] ml-2 text-dark-primary">{{accountName}}</p>
                            </span>
                        </span>
                    </div>
                    <button *ngIf="paymentForm.valid && accountName.length !== 0" class="block w-[100px] text-[14px] mt-[6px] py-3 font-medium bg-red-error rounded-[7px] text-[white] cursor-pointer " type="submit" [disabled]="!paymentForm.valid">Withdraw</button>
                    <button *ngIf="!paymentForm.valid || accountName.length === 0" class="block w-[100px] text-[14px] mt-[6px] py-3 font-medium bg-[#98A2B3] rounded-[7px] text-[white]" disabled>Withdraw</button>
                </form>
            </div>
        </div>
    
    <!-- confirmation page -->
    <div *ngIf="step === 2" class="w-full flex justify-center items-center md:pt-0 sm:pt-[30px]">
            <img (click)="onCancelButtonClicked()" src="../../../../assets/icons/close.svg" class="w-[24px] h-[24px] absolute top-8 right-6 cursor-pointer ">
            <div class="flex flex-col justify-center items-center px-4 py-7 h-full sm:w-[95%] md:w-[70%] ">
                <div class="mb-[24px] flex flex-col justify-center items-center ">
                    <h3 class="font-semibold sm:text-[18px] md:text-[28px] text-center ">Confirm transaction</h3>
                    <p class=" sm:text-[12px] md:text-[14px] text-[#475367] text-center">Please confirm the details of your transaction</p>
                </div>
                <div class="w-full flex flex-col justify-center items-center ">
                    <div class="relative form-div flex flex-col">
                         <div class="dt-div flex w-full justify-between">
                            <span class="text-[#475367] text-[14px]">Account number</span>
                            <span class="text-[#101928] text-[14px] font-medium">{{accountNumber}}</span>
                        </div>
                        <div class="dt-div flex w-full justify-between">
                            <span class="text-[#475367] text-[14px]">Bank name</span>
                            <span class="text-[#101928] text-[14px] font-medium">{{bankName}}</span>
                        </div>
                        <div class="dt-div flex w-full justify-between">
                            <span class="text-[#475367] text-[14px]">Amount</span>
                            <span class="text-[#101928] text-[14px] font-medium">₦{{amount.toLocaleString()}}</span>
                        </div>
                    </div>
                    </div>             
                    <button (click)="submitWithdrawal()" class="block w-[190px] text-[14px] mt-[24px] py-[16px] px-[24px] font-medium bg-red-error rounded-[7px] text-[white] cursor-pointer " type="submit">Make Withdrawal</button>
                    <p (click)="prevStep()" class=" text-red-error cursor-pointer text-[14px] mt-[18px] font-semibold">Back</p>
                </div>
            </div>
    


    <!-- Loading spinner -->
    <div *ngIf="paymentLoading">
        <app-loader></app-loader>
    </div>

    <div *ngIf="isNotSuccessful">
        <div  class="w-full  flex justify-center items-center flex-col px-4 md:py-0 sm:py-[24px]">
            <img (click)="onCancelButtonClicked()" src="../../../../assets/icons/close.svg" class="w-[24px] h-[24px] absolute top-8 right-6 cursor-pointer ">
            <img  src="../../../../assets/icons/worried-face.svg" class="w-[150px] h-[150px]">
            <h2 class="sm:text-[18px] md:text-[28px] italic font-semibold mt-[12px] text-red-error text-center">Oh snap!</h2>
            <p class="text-[#475367] sm:text-[12px] md:text-[14px] w-[75%] text-center ">We were unable to process your transaction at this time. Please try again!</p>
            <button (click)="submitWithdrawal()" class="block w-[190px] text-[14px] mt-[24px] py-[16px] px-[24px] font-medium bg-red-error rounded-[7px] text-[white] cursor-pointer " type="submit">Try again</button>
            <p (click)="onCancelButtonClicked()" class=" text-red-error cursor-pointer text-[14px] mt-[18px] font-semibold">Back</p>
    </div>
    </div>

    <!-- Success Page -->
    <div *ngIf="step === 3">
        <div class="w-full flex justify-center items-center flex-col px-4 md:py-0 sm:py-[24px]">
            <img (click)="onCancelButtonClicked()" src="../../../../assets/icons/close.svg" class="w-[24px] h-[24px] absolute top-8 right-6 cursor-pointer ">
            <img  src="../../../../assets/icons/success.svg" class="w-[150px] h-[150px]">
            <h2 class="sm:text-[18px] md:text-[28px] mt-[12px] text-[#099137] text-center">Success!</h2>
            <p class="text-[#475367] sm:text-[12px] md:text-[14px] text-[14px] text-center ">Your transaction was successful</p>
            <button (click)="onCancelButtonClicked()" class="block w-[190px] text-[14px] mt-[24px] py-[16px] px-[24px] font-medium bg-red-error rounded-[7px] text-[white] cursor-pointer " type="submit">Close</button>
        </div>
    </div>
</div>