/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#toggle-icon{
	display: none;
}

body{
	width: 100%;
}

.sidebar-main{
  	position: absolute;
	top: 0;
	left: 0;
	width: 272px;
  	padding:24px 8px;
	height: 100vh;
	background: #101928;
	display: flex;
	flex-direction: column;
	z-index: 2000;
	transition:all .3s ease;
	overflow: hidden;
	scrollbar-width: none;

}

.hide{
	left: -300px;
}

nav{
  	height: 70px;
	background-color: white;
	padding: 0 2rem;
	display: flex;
	align-items: center;
  	justify-content: flex-end;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

.main{
  	position: relative;
	width: calc(100% - 272px);
	left: 262px;
	transition: .3s ease;
	height: 100vh;
	background-color: #F9FAFB;
}

.main-content{
  	width: 100%;
	padding: 1.4rem 1.8rem;
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	
}

.slide-in {
	-webkit-animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-bottom {
  0% {
    /* -webkit-transform: translateY(1000px); */
            transform: translateY(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    /* -webkit-transform: translateY(1000px); */
            transform: translateY(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}








@media screen and (min-width: 279px) and (max-width: 730px) {
	
}

@media screen and (min-width: 279px) and (max-width: 950px) {
	.lg{
		display: none;
	}
	#toggle-icon{
		display: inherit;
	}
	.sidebar-main{
		/* visibility: hidden; */
	}
	.main{
		width: 100vw !important;
		left: 0;
		
	}
	.main-content{
		padding: 2.5rem 0.8rem;
	}
	nav{
		padding: 2rem 1.2rem;
		height: 65px;
		justify-content: space-between;
	}

	.nav-title{
		display: none;
	}

	.nav-name{
		visibility: hidden;
	}
}











::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

 
::-webkit-scrollbar-track {
  box-shadow: transparent;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(48, 48, 48, 0.801);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(80, 80, 80, 0.801);   
}

