.table-container{
    overflow: auto;
    background-color: rgb(255, 255, 255);
}

.table-container p{
    font-size: 14px;
    font-weight: 500;
    color: #454545;
}

.trx-code{
    color: #A3A3A3 !important;
}

.table-container i{
    font-size: 1.5rem;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    
}

.name{
    width: 287px;
}


tbody tr{
    transition: all 2ms ease-in-out;
    cursor: pointer;
}

tbody tr:hover{
    background-color: #dfdfdf48;
}


thead td{
    font-size: 12px;
    text-align: start;
    padding: 12px 24px;
    font-weight: 500;
    color: #344054;
    line-height: 17px;
    background: var(--grey-100, #F0F2F5);
}

tbody tr td{
     padding: 16px 24px;
     font-size: 14px;
     font-weight: 400;
     color: var(--grey-700, #344054);
}

.status p{
    padding: 5px 10px;
    display: inline-block;
    border-radius: 7px;
    font-size: 12px;
}

.status.completed p {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #B3F5C9;
    color: #099137;
    text-transform: lowercase;
}

.status.pending p {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #F5EEB3;
    color: #BFAC00;
    text-transform: lowercase;
}

.status.failed p {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #F4C0DB;
    color: #C73E3E;
    text-transform: lowercase;
}


.sort{
    font-size: 14px !important;
    margin-left: 4px;
}

.search{
    border:1px solid #6D6D6D;
    padding: 9px 10px 10px 33px;
    width: 200px;
    outline: none;
    border-radius: 7px;
    font-size: 14px;
}

.search:focus{
    border: 2px solid #F9A7BB;
}

.credit{
    color: #079c14;
}
.debit{
    color: #cf0606;
}
.pending{
    color: #e7d803;
}

.no-transaction-icon{
    width: 100.13px;
    height: 80.439px;
    flex-shrink: 0;
}
.payment-type p {
    color: #C73E3E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: lowercase;
}
.amount-fee{
    color: #344054;
}
.date p{
    color: #344054;
}
.fee p{
    color: #344054;
}

@media screen and (min-width: 279px) and (max-width: 730px) {
	.search{
        width: 50px;
    }
    .status p{
        font-size: 10px;
    }
}